#auth-options {
  display: grid;
  justify-content: center;
}

#auth-options #auth-options-list {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 1rem;
}
