.SignUp {
  background-color: var(--secondary-color);
  border: 4px solid var(--primary-color);
  color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.SignUp-header {
  align-items: center;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  justify-content: center;
}

.SignUp-header h1 {
  letter-spacing: 0.05rem;
  text-transform: capitalize;
}

.SignUp-header h1 .accent-text {
  align-items: center;
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  padding: 0.25rem;
  scale: 1.1;
}

.SignUp-form {
  background-color: var(--primary-color);
  border-radius: 4px;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.66);
  color: var(--secondary-color);
  grid-column: 5 / span 4;
  grid-row: 2 / 4;
  padding: 1rem;
}

.SignUp-form > * {
  background-color: bisque;
  padding: 0.5rem;
}

.SignUp-form .input-container {
  border: 2px solid blue;
  display: grid;
}

.SignUp-form .input-container-upper {
  border: 1px solid violet;
  display: flex;
  justify-content: space-between;
}

.SignUp-form .input-container label {
  border: 1px solid aqua;
  font-weight: bold;
  text-transform: capitalize;
}

.SignUp-form .input-container input {
  font-size: 1.2rem;
  grid-column: 1 / -1;
}

.SignUp-form button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  height: 40px;
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
  width: 160px;
}

.SignUp-form .btn-group {
  grid-column: 2 / 2;
  padding: 0.5rem;
}

.SignUp-form button:hover {
  box-shadow: 0 7px 12px -5px rgba(0, 0, 0, 0.66);
}

.SignUp-alt-login-options {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 4 / -1;
  justify-content: center;
}

.SignUp-alt-login-options a {
  color: var(--accent-color);
  margin: 4px;
  text-transform: capitalize;
}

.SignUp-alt-login-options a:hover {
  text-decoration: underline;
}
