.App {
  background-color: var(--default-light-color);
  color: var(--default-dark-color);
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

.App header {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1 / 1;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.App header i {
  transform: rotate(90deg);
}

.App header nav ul {
  align-items: center;
  display: flex;
  gap: 1rem;
  list-style: none;
}

.App header nav ul li a {
  padding: 0.5rem;
}

.App header .navbar-left {
  align-items: center;
  border-bottom: 2px solid var(--primary-accent-color-med);
  border-bottom-left-radius: 4px;
  border-left: 2px solid var(--primary-accent-color-med);
  display: flex;
  grid-column: 1 / 1;
}

.App header .navbar-left .brand {
  align-items: center;
  display: flex;
  font-family: Jura;
  font-size: 2rem;
  font-weight: bold;
  gap: 8px;
  text-transform: capitalize;
}

.App header .navbar-right {
  align-items: center;
  display: flex;
  gap: 1rem;
  grid-column: 3 / -1;
  justify-content: flex-end;
}

.App header .navbar-right a {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  width: 80px;
}

.App header .navbar-right ul li {
  border: 2px solid transparent;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.App header .navbar-right ul li .sign-up {
  border: 2px solid var(--primary-accent-color-med);
  border-radius: 4px;
}

.App header .navbar-right ul li:hover {
  border: 2px solid var(--primary-accent-color-dark);
  box-shadow: 0 7px 12px -5px rgba(0, 0, 0, 0.2);
}

.App main {
  background-color: var(--default-dark-color);
  color: var(--default-light-color);
  grid-row: 3 / 3;
}

.App footer {
  background-color: var(--default-light-color);
  color: var(--default-dark-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 4 / -1;
  padding: 1rem;
}

.App footer .copyright {
  align-items: center;
  grid-column: 2 / 2;
  display: flex;
  justify-content: center;
}
