.App {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.App > * {
  padding: 1rem;
}

button:disabled {
  background-color: #808080;
  color: #cecece;
  cursor: unset;
}

header {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1 / 1;
  position: sticky;
  top: 0;
  z-index: 1;
}

header i {
  transform: rotate(90deg);
}

header .navbar-left-outer {
  align-items: center;
  display: flex;
  grid-column: 1 / 1;
}

header .navbar .brand {
  align-items: center;
  color: var(--primary-color);
  display: flex;
  font-size: 2rem;
  gap: 8px;
  padding: 0 16px;
  text-transform: capitalize;
}

header .navbar-right-outer {
  align-items: center;
  display: flex;
  gap: 1rem;
  grid-column: 3 / -1;
  justify-content: flex-end;
  padding: 0 1rem;
}

header .navbar-right-outer a {
  align-items: center;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;
  text-transform: capitalize;
  width: 80px;
}

header .navbar-right-outer a:active {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

header .navbar-right-outer a:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

main {
  grid-row: 2 / 2;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 3 / -1;
}

footer .copyright {
  align-items: center;
  grid-column: 2 / 2;
  display: flex;
  justify-content: center;
}
