* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primary-color: #f0f0f0;
    --secondary-color: #0f0f0f;
    --accent-color: #c2e7da;
}

a {
    color: inherit;
    text-decoration: none;
}