* {
  box-sizing: border-box;
  font-family: "Exo 2", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  --default-light-color: #ebebeb;
  --default-dark-color: #222222;
  /* --accent-color: #baf2bb; */
  --accent-color-light: #eceacf;
  --accent-color-medium: #c8c6af;
  --accent-color-dark: #979685;
  /* --accent-color-light: #6fffe9;
  --accent-color-medium: #82eddd;
  --accent-color-dark: #94dbd1; */
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  text-transform: capitalize;
}

.hide {
  font-size: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
}

.offscreen {
  font-size: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.instructions {
  background-color: #f0f0f0;
  border: 1px solid var(--default-dark-color);
  border-radius: 4px;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.66);
  color: var(--default-dark-color);
  margin: 1rem;
  padding: 1rem;
  position: fixed;
}

.instructions i {
  padding-right: 0.5rem;
}
