.Dashboard {
  border: 1px solid orange;
  display: grid;
  grid-template-columns: auto 1fr;
}

.sidebar-menu {
  background-color: var(--primary-color);
  border-radius: 4px;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.66);
  transition: 0.5s ease-in-out;
}

.sidebar-menu:hover {
  height: 100%;
  width: 400px;
}
