.User-Form .form-footer- {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  text-align: center;
}

.Login-form .support-container a {
  font-size: 1.1rem;
}

.Login-form .support-container a:hover {
  text-decoration: underline;
}

.Login-form .btn-group {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.Login-alt-login-options {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 4 / -1;
  justify-content: center;
}

.Login-alt-login-options a {
  color: var(--primary-accent-color-med);
  margin: 4px;
  text-transform: capitalize;
}

.Login-alt-login-options a:hover {
  text-decoration: underline;
}
