form {
  display: grid;
  padding: 2rem;
}

#user-credential-form {
  border: 4px solid var(--dark-color);
  border-radius: 4px;
  gap: 1rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#user-credential-form .user-credential-input,
#user-credential-form #email-tooltip,
#user-credential-form #user-credential-submit-btn {
  grid-column: 3 / span 4;
}

#user-credential-form .user-credential-input {
  display: grid;
  grid-template-columns: 1fr auto;
}

#user-credential-form #email-tooltip,
#user-credential-form #password-tooltip,
#user-credential-form #confirm-password-tooltip {
  margin: 72px auto 0;
  position: absolute;
  width: 424px;
}

#user-credential-form #user-credential-submit-btn {
  align-items: center;
  display: flex;
  justify-content: center;
}
