.Home .ticker {
    align-items: center;
    color: var(--default-light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-transform: capitalize;
  }
  
.Home .ticker p:first-child {
    color: var(--accent-color-dark);
    font-weight: 700;
    letter-spacing: 0.02rem;
  }