i.brand-logo {
  align-items: center;
  background-color: var(--light-color);
  border-radius: 4px;
  color: var(--dark-color);
  display: flex;
  height: 56px;
  justify-content: center;
  transform: rotate(180deg);
  width: 56px;
}

.info-tooltip i {
  padding-right: 0.5rem;
}
