#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

#root > * {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

#root #root-header {
  grid-row: 1 / 1;
  position: sticky;
  top: 0;
}

#root #root-main {
  grid-row: 2 / 2;
}

#root #root-footer {
  grid-row: 3 / -1;
}
