#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

#root > * {
  display: grid;
}

#root #root-header {
  grid-row: 1 / 1;
}

#root #root-main {
  grid-row: 2 / 2;
}

#root #root-footer {
  grid-row: 3 / -1;
}
